body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

.content {
    width: 1000px;
    height: 600px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    position:absolute;
    top:50%;
    left:50%;
        
    margin-left:-500px;/* half width*/
    margin-top:-300px;/* half height*/
    z-index: 1;
}

h1 {
    font-size: 22px;
    color: #86C232;
    line-height: 20%;
}

h2 {
    font-size: 84px;
    color: white;
    line-height: 10%;
}

.one {
    font-size: 22px;
    text-decoration:none;
    color: #f2f2f2;
    }

/*Turns links green once mouse is hovering*/
 a:hover {
    color: #86C232;
 }
 
 /*Before Hover on FA Icons*/
.fa_icons
{
    padding-top: 3px;
    padding-right: 30px;
    padding-left: 30px;
    display:inline-block;
    border:0;
    width: 10px;
    height: 10px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.fa_icons:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.8);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.8);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.8);
    transition: all 200ms ease-in;
    transform: scale(1.8);
}

 
/* Styling for Font Awesome Icons */
.fa-github {
  color: #61892F;
}

.fa-linkedin {
  color: #61892F;
}

.fa-linux {
  color: #61892F;
}

/* Styling for CPN */
#particle-canvas {
  width:100%;
		height:100%;
  z-index: 0;
  }

/*Creates line*/
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1px;
}
